body 
{
	font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

#main 
{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#menu 
{
	width: 256px;
	height: calc(100% - 10px);
	position: fixed;
	overflow-x: auto;
	overflow-y: auto;
}

#menu h1
{
	font-size: 100%;
	background: #F0F0F0;
	border-radius: 4px;
	padding: 0.5em;
}

#menu h2
{
	margin-left: 16px;
	font-size: 80%;
	border-bottom: solid 1px #C0C0C0;
}

#menu ul
{
	list-style-type: none;
	padding-left: 24px;
}

#menu li
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

#contents
{
	position: absolute;
	top: 0px;
	left: calc(50% - 256px);
	right: calc(50% - 512px);
	margin-top: 8px;
	margin-left: 32px;
	margin-right: 32px;
}

#contents h1
{
	font-size: 200%;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: solid 1px #C0C0C0;
}

#contents h2 {
	font-size: 120%;
	font-weight: normal;
	border-bottom: solid 1px #D0D0D0;
	padding: 0.25em;
}

#contents h3 {
	font-size: 100%;
	font-weight: bold;
	padding: 0.25em;
}

#contents h4 {
	font-size: 100%;
	font-weight: normal;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 1em;
	padding: 0.25em;
}

#contents h5 {
	font-size: 90%;
	font-weight: normal;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 3em;
	padding: 0.25em;
}

#contents h6 {
	font-size: 80%;
	font-weight: normal;
	border-bottom: solid 1px #D0D0D0;
	margin-left: 6em;
	padding: 0.25em;
}


#contents .section
{
	margin-left: 1em;
}


#contents p {
	margin-left: 2em;
	margin-right: 2em;
}

#contents ul, ol {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0em;
}

#contents ul ul, ol ul, ul ol, ol ol {
	margin: 0.25em;
	margin-left: 2em;
	padding: 0em;
}

/* list item */
#contents li.aster {
	list-style-position: outside;
	list-style-image: none;
}

#contents li.plus {
	list-style-position: outside;
	list-style-image: url('plus.png');
}

#contents li.hyphen {
	list-style-position: outside;
	list-style-image: url('hyphen.png');
}

/* table of contents */
#contents ul.table_of_contents
{
	list-style-type: none;
}

/* code list */
#contents pre.code {
	margin-left: 3em;
	padding: 1em;
	background-color: #F0F0F0;
	border: solid 1px #D0D0D0;
}

/* definition list */
#contents dl {
	margin: 1em;
	margin-left: 2em;
}

#contents dl dt {
}

#contents dl dd {
}

#contents dl dd p {
	margin: 3px;
}

/* block quote */
#contents blockquote {
	margin-left: 3em;
	border-left: solid 8px #F0F0F0;
}

#contents blockquote p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#contents blockquote blockquote {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 2em;
	margin-right: 0.5em;
}

#contents table {
	margin-left: 3em;
	
	width: calc(100% - 3em);
	border-collapse: collapse;
}

#contents table p {
	margin: 0em;
}

#contents th
{
	padding: 6px;
	text-align: left;
	vertical-align: top;
	background-color: #f0f0f0;
	border: 1px solid #b9b9b9;
}

#contents td {
	padding: 6px;
	background-color: #ffffff;
	border: 1px solid #b9b9b9;
}

#contents td.name {
	width: 25%;
	white-space: nowrap;
}

#contents td.summary {
	width: 75%;
	white-space: normal;
}

